<%= link_to("Back to List", books_path, class: 'back-link') %>

<div class="books new">
  <h2>Add New Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: books_path, method: 'post' %>

    <%= 
        render(partial: 'form', locals:{f: f}) # pass in f into the partial 
    %>

    <div class="form-buttons">
      <%= f.submit("Add Book") %>
    </div>

  <% end %>
</div>
